@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
    font-family: "Nunito", sans-serif;

    --primary-50: #f1f7fe;
    --primary-100: #e2effc;
    --primary-200: #bfddf8;
    --primary-300: #86c2f3;
    --primary-400: #46a3ea;
    --primary-500: #1c7eca;
    --primary-600: #106ab9;
    --primary-700: #0f5595;
    --primary-800: #10487c;
    --primary-900: #133d67;
    --primary-950: #0d2744;

    user-select: none;
}